logs
project/project
tmp
.history
dist
/.idea*
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
conf/application.conf
application.log
latest.dump
test/
target/
project/
projectFilesBackup/