@(name: String, subscriptionForm: Form[Subscription])

@import helper._
@import models.Subscription

@main("Add a new Availability") {
  <div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4">
	  <h1>Add a new Subscription for @name</h1>
	  	  @form(routes.SubscriptionsController.save) {
		      @inputText(subscriptionForm("phone"))
              @inputText(subscriptionForm("parkid"))
		      <button type="submit" class="btn btn-primary">Save</button>
		  }
	  </div>
	  <div class="col-md-4"></div>
	</div>

}