@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div ng-controller="MenuCtrl" class="navbar navbar-inverse navbar-default" role="navigation">

                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="fa fa-bars fa-lg fa-inverse"></span>
                       </button>

                       <ul class="nav navbar-nav navbar-right">
                           <li class=""><a href="@routes.Application.index()">Sites</a></li>
                           <li class=""><a href="@routes.Application.availindex()">Availabilties</a></li>
                           <li class=""><a href="@routes.Application.subscriptionindex()">Subscriptions</a></li>
                           <li class=""><a href="@routes.Application.recreation()">Test</a></li>
                       </ul>
                   </div>
               </div>

    <div class="container">
        @content
    </div>
    </body>
</html>
