@import org.joda.time.DateTime
@import org.jsoup.Jsoup
@import org.jsoup.select.Elements

@(date: DateTime, biweek: Elements)
@import org.joda.time.format.DateTimeFormatter
@import org.joda.time.format.DateTimeFormat

@main("Recreation data") {

    <h2>Five Mile Butte:</h2>
	<div class="container">
        <h3>Status for the two week period starting on @date.toString("MM/dd/yyyy"):</h3>
        <table class="table table-striped">
        <tr>
            @for(i <- 0 to biweek.size()-1) {
                <td>
                    @if(date.plusDays(i).dayOfWeek().getAsShortText() == "Sat" || date.plusDays(i).dayOfWeek().getAsShortText() == "Sun") { <b> }
                        @date.plusDays(i).dayOfWeek().getAsShortText()<br>
                        @date.plusDays(i).toString("MM/dd")
                    @if(date.plusDays(i).dayOfWeek().getAsShortText() == "Sat" || date.plusDays(i).dayOfWeek().getAsShortText() == "Sun") { </b> }
                </td>
            }
        <tr>

        @for(day <- biweek) {
            @{day.text() match {
                case "X" => {
                    <td class = "warning">{day.text()}</td>
                }
                case "A" => {
                    <td class = "success">{day.text()}</td>
                }
                case "a" => {
                    <td class = "warning">{day.text()}</td>
                }
                case "R" => {
                    <td>{day.text()}</td>
                }
                case _ => {
                    <td class = "info"> {day.text()} </td>
                }
            }

        }
        }
        </tr>
        </table>
	</div>
}
