@import org.joda.time.DateTime
@import org.jsoup.Jsoup
@import org.jsoup.select.Elements


@main("Weather data") {

    <div class="container">
        <h3>Timberline Lodge</h3>
        <img src="http://kantola.nl/plots/osotml.png" width="100%">
        <hr>
        <h3>Mt Hood Meadows</h3>
        <img src="http://kantola.nl/plots/osomhm.png" width="100%">
        <hr>
        <h3>Ski Bowl</h3>
        <img src="http://kantola.nl/plots/osogvt.png" width="100%">
    </div>
    <h3>Resources:</h3>
    <ul>
    <li><a href="http://www.nwac.us/weatherdata/">NWAC</a></li>
    <li><a href="http://forecast.weather.gov/MapClick.php?lon=-121.6688576341901&lat=45.34194381514135#.WDRQ3dg76f0">NOAA</a></li>
        <li><a href="http://www.snow-forecast.com/resorts/Mt-Hood-Meadows/6day/mid">Snow Forecast</a></li>
        <li><a href="https://www.tripcheck.com/popups/Cam.asp?camera=624&camera=1776&camera=1887&camera=1881&camera=1899&curRegion=1">Road cameras</a></li>
    </ul>

}
